@import url(http://fonts.googleapis.com/css?family=Lobster);

body {
	background: url('http://forum.precipicegames.com/Themes/precipice1/images/backgroundnoise.png');
}

h1.purple, h2.purple, h3.purple, h4.purple, h5.purple, h6.purple {
	color: #251F40;
	text-shadow: 0 0px 2px rgba(238, 238, 238, 0.4);
}

h1.white, h2.white, h3.white, h4.white, h5.white, h6.white {
	color: rgba(255, 255, 255, 0.8);
	text-shadow: 0 0px 2px rgba(0, 0, 0, 0.4);
}

.navbar-inner {
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
}

a.logo {
	margin-left: 20px;
	text-indent: -9999px;
	background: url('http://forum.precipicegames.com/Themes/precipice3/images/precipice.png');
	background-size: 450px;
	background-repeat: no-repeat;
	height: 89px;
	display: block;
}

div.logo {
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 0 0 4px #000;
	border-radius: 6px 6px 6px 6px;
	padding-top: 20px;
	margin-bottom: 15px;
}

div.logo h1 {
	padding-top: 10px;
	padding-right: 30px;
	color: #251F40;
	text-shadow: 0 0px 2px rgba(238, 238, 238, 0.4);
	font-family: 'Lobster', cursive;
	font-size: 45px;
	text-align: right;
}

div.bg {
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 0 0 4px #000;
	border-radius: 6px 6px 6px 6px;
}

div#about_events {
	padding: 20px;
	width: 900px;
	color: white;
	text-shadow: 0 1px 0px rgba(0, 0, 0, 0.4);
}
a.image {
	padding: 5px;
}
a.image img {
	box-shadow: 0 0 12px #000;
}

h1#fancy {	
	color: #918E9E;
	text-shadow: 0 0px 5px rgba(0, 0, 0, 0.6);
	font-family: 'Lobster', cursive;
	font-size: 35px;
}

div#votes {
	background-color:#5eb95e;
	background-image:-moz-linear-gradient(top, #62c462, #57a957);
	background-image:-ms-linear-gradient(top, #62c462, #57a957);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#57a957));
	background-image:-webkit-linear-gradient(top, #62c462, #57a957);
	background-image:-o-linear-gradient(top, #62c462, #57a957);
	background-image:linear-gradient(top, #62c462, #57a957);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
}
div.event {
	padding: 20px;
	text-align: center;
	margin-bottom: 20px;
	color: white;
	text-shadow: 0 1px 0px rgba(0, 0, 0, 0.4);
}
div#counter {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 9%;
}
.cntSeparator {
	font-size: 54px;
	margin: 25px 7px;
	color: #918E9E;
	text-shadow: 0 0px 5px rgba(0, 0, 0, 0.6);
	font-family: 'Lobster', cursive;
}

div#about {
	margin-bottom: 20px;
}

div#form-event {
	padding: 20px;
	width: 900px;
	margin-bottom: 20px;
	color: white;
	text-shadow: 0 1px 0px rgba(0, 0, 0, 0.4);
}

div#form-event legend, div#form-event label, div#form-event p.help-block {	
	color: white;
	text-shadow: 0 1px 0px rgba(0, 0, 0, 0.4);
}
.btn-primary{background-color:#4376de;background-image:-moz-linear-gradient(top, #4c7de0, #366ddc);background-image:-ms-linear-gradient(top, #4c7de0, #366ddc);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#4c7de0), to(#366ddc));background-image:-webkit-linear-gradient(top, #4c7de0, #366ddc);background-image:-o-linear-gradient(top, #4c7de0, #366ddc);background-image:linear-gradient(top, #4c7de0, #366ddc);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c7de0', endColorstr='#366ddc', GradientType=0);border-color:#366ddc #366ddc #1d4ba8;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);filter:progid:dximagetransform.microsoft.gradient(enabled=false);}.btn-primary:hover,.btn-primary:active,.btn-primary.active,.btn-primary.disabled,.btn-primary[disabled]{background-color:#366ddc;}
.btn-primary:active,.btn-primary.active{background-color:#2155be \9;}
.btn-warning{background-color:#ff6f0f;background-image:-moz-linear-gradient(top, #ff751a, #ff6600);background-image:-ms-linear-gradient(top, #ff751a, #ff6600);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ff751a), to(#ff6600));background-image:-webkit-linear-gradient(top, #ff751a, #ff6600);background-image:-o-linear-gradient(top, #ff751a, #ff6600);background-image:linear-gradient(top, #ff751a, #ff6600);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff751a', endColorstr='#ff6600', GradientType=0);border-color:#ff6600 #ff6600 #b34700;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);filter:progid:dximagetransform.microsoft.gradient(enabled=false);}.btn-warning:hover,.btn-warning:active,.btn-warning.active,.btn-warning.disabled,.btn-warning[disabled]{background-color:#ff6600;}
.btn-warning:active,.btn-warning.active{background-color:#cc5200 \9;}
.btn-danger{background-color:#e53a48;background-image:-moz-linear-gradient(top, #e64350, #e32c3b);background-image:-ms-linear-gradient(top, #e64350, #e32c3b);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#e64350), to(#e32c3b));background-image:-webkit-linear-gradient(top, #e64350, #e32c3b);background-image:-o-linear-gradient(top, #e64350, #e32c3b);background-image:linear-gradient(top, #e64350, #e32c3b);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e64350', endColorstr='#e32c3b', GradientType=0);border-color:#e32c3b #e32c3b #ac1723;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);filter:progid:dximagetransform.microsoft.gradient(enabled=false);}.btn-danger:hover,.btn-danger:active,.btn-danger.active,.btn-danger.disabled,.btn-danger[disabled]{background-color:#e32c3b;}
.btn-danger:active,.btn-danger.active{background-color:#c21a28 \9;}
.btn-success{background-color:#43a300;background-image:-moz-linear-gradient(top, #48ae00, #3d9400);background-image:-ms-linear-gradient(top, #48ae00, #3d9400);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#48ae00), to(#3d9400));background-image:-webkit-linear-gradient(top, #48ae00, #3d9400);background-image:-o-linear-gradient(top, #48ae00, #3d9400);background-image:linear-gradient(top, #48ae00, #3d9400);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#48ae00', endColorstr='#3d9400', GradientType=0);border-color:#3d9400 #3d9400 #1d4800;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);filter:progid:dximagetransform.microsoft.gradient(enabled=false);}.btn-success:hover,.btn-success:active,.btn-success.active,.btn-success.disabled,.btn-success[disabled]{background-color:#3d9400;}
.btn-success:active,.btn-success.active{background-color:#286100 \9;}
.btn-info{background-color:#68c5e1;background-image:-moz-linear-gradient(top, #70c8e2, #5bc0de);background-image:-ms-linear-gradient(top, #70c8e2, #5bc0de);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#70c8e2), to(#5bc0de));background-image:-webkit-linear-gradient(top, #70c8e2, #5bc0de);background-image:-o-linear-gradient(top, #70c8e2, #5bc0de);background-image:linear-gradient(top, #70c8e2, #5bc0de);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#70c8e2', endColorstr='#5bc0de', GradientType=0);border-color:#5bc0de #5bc0de #28a1c5;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);filter:progid:dximagetransform.microsoft.gradient(enabled=false);}.btn-info:hover,.btn-info:active,.btn-info.active,.btn-info.disabled,.btn-info[disabled]{background-color:#5bc0de;}
.btn-info:active,.btn-info.active{background-color:#31b0d5 \9;}
.btn-inverse{background-color:#a54ca9;background-image:-moz-linear-gradient(top, #ac4fb0, #9b479f);background-image:-ms-linear-gradient(top, #ac4fb0, #9b479f);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ac4fb0), to(#9b479f));background-image:-webkit-linear-gradient(top, #ac4fb0, #9b479f);background-image:-o-linear-gradient(top, #ac4fb0, #9b479f);background-image:linear-gradient(top, #ac4fb0, #9b479f);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ac4fb0', endColorstr='#9b479f', GradientType=0);border-color:#9b479f #9b479f #672f6a;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);filter:progid:dximagetransform.microsoft.gradient(enabled=false);}.btn-inverse:hover,.btn-inverse:active,.btn-inverse.active,.btn-inverse.disabled,.btn-inverse[disabled]{background-color:#9b479f;}
.btn-inverse:active,.btn-inverse.active{background-color:#79377c \9;}
